@import "tailwindcss";

@theme {
  --color-text: #9ca3af;
  --color-text-h: #f3f4f6;
  --color-bg: #041418;
  --color-border: #2e303a;
  --color-code-bg: #1f2028;

  --color-accent: #DC024F;
  --color-accent-bg: #2F535C;
  --color-accent-border: rgba(192, 132, 252, 0.5);
  --color-detail: #00B9B4;
}